<div class="table-responsive m">
<table class="table table-hover table-bordered">
  <thead>
    <tr class="warning">
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Desarrollador</th>
      <th>Plataforma</th>
      <th>Modo de juego</th>
      <th>Imagen</th>
      <th colspan="3">Edición</th>
    </tr>
  </thead>
  <tbody>
    <% @juegos.each do |juego| %>
      <tr class='success'>
        <td><%= juego.nombre %></td>
        <td><%= juego.descripcion %></td>
        <td><%= juego.desarrollador %></td>
        <td><%= juego.plataforma %></td>
        <td><%= juego.modojuego %></td>
        <td><%= image_tag(juego.image.url, class:"ava") %></td>
        <td><%= link_to 'Mostrar', juego, class:"btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_juego_path(juego), class:"btn btn-info" %></td>
        <td><%= link_to 'Eliminar', juego, method: :delete, data: { confirm: '¿Estas seguro de eliminar el registro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<center>
<%= link_to 'Nuevo Juego', new_juego_path, class:"btn btn-warning btn-lg" %>
</center>