<div class="pd">
<form>
 <div class="col-md-12 col-sm-12 col-xs-12 padd" role="form" id="form">
 <h1><legend>Juego Perrote</legend></h1>
  <div class="form-group">
      <label class="control-label"><strong>Nombre del juego:</strong></label>
      <%= @juego.nombre %>
  </div>
  <div class="form-group">
      <label class="control-label"><strong>Descripción:</strong></label>
      <%= @juego.descripcion %>
  </div>
  <div class="form-group">
      <label class="control-label"><strong>Desarrollador:</strong></label>
      <%= @juego.desarrollador %>
  </div>
  <div class="form-group">
      <label class="control-label"><strong>PLataforma:</strong></label>
      <%= @juego.plataforma %>
  </div>
  <div class="form-group">
      <label class="control-label"><strong>Modo de Juego:</strong></label>
      <%= @juego.modojuego %>
  </div>
  <div class="form-group">
      <label class="control-label"><strong>Imagen:</strong></label>
      <center><%= image_tag(@juego.image.url, class: "thumbnail img-responsive") %></center>
  </div>
  <center>
<%= link_to 'Editar', edit_juego_path(@juego), class: "btn btn-warning btn-lg" %> |
<%= link_to 'Regresar', juegos_path, class: "btn btn-info btn-lg" %>
</center>
</div>
</form>
</div>
