<div class="table-responsive m">
<table class="table table-hover table-bordered">
  <thead>
    <tr class="warning">
      <th>E-Mail</th>
      <th>Fecha de Creación</th>
      <th>Ultima entrada</th>
      <th>Ultima conexión</th>
    </tr>
  </thead>
  <tbody>
<% @users.each do  |u| %>
	<tr class="success">
	<td><%= u.email %></td>	
	<td><%= u.created_at %></td>
    <td><%= u.last_sign_in_at %></td>
	<td><%= u.last_sign_in_ip %></td>	
	</tr>
<% end %>
  </tbody>
</table>
</div>