// Place all the styles related to the Juegos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ava{
    height: 50px;
    width: 50px;
}

.padd{
    border: 1px solid #C2C0C1;
    border-radius: 6px;
    background-color: white;
    padding-bottom: 20px;
}

.pd{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    padding-top: 1%;
}